body::-webkit-scrollbar {
    display: none;
}

/*--------------------------------------------*/
.card {
    width: 21%;
    min-width: 10rem;
    height: auto;
    margin: 2vw 1vw 0 2vw;
    display: inline-block;
    background-color: white;
}

.card-skin {
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    transition: 0.3s;
}

.card-skin:hover {
    transform: scale(0.98);
}

.card_imgframe {
    width: 100%;
    height: auto;
    padding-top: 62%;
    background: url("../image/NoImage.jpg") no-repeat center;
    background-size: cover;
    box-sizing: border-box;
}

.card_textbox {
    width: 100%;
    height: auto;
    padding: 20px 18px;
    background: #ffffff;
    box-sizing: border-box;
}

.card_textbox > * + * {
    margin-top: 10px;
}

.card_titletext {
    font-size: 20px;
    font-weight: bold;
    line-height: 125%;
}

.card_overviewtext {
    font-size: 12px;
    line-height: 150%;
}

/*--------------------------------------------*/
@media screen and (max-width: 1000px) {
    .card {
        width: 44%;
    }
}

@media screen and (max-width: 650px) {
    .card {
        width: 90%;
        margin: 2vw 1vw 0;
    }
}