html, body {
    min-height: 100%;
    font-family: "Noto Sans JP", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}

form {
    position: absolute;
    background: #ffffff;
    width: 280px;
    transition: 0.3s;
}

form.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100px);
}

.contact {
    margin-top: 4px;
}

.group {
    width: 250px;
    margin: auto;
    position: relative;
}

label {
    position: absolute;
    top: 7px;
    font-weight: 400;
    font-size: 15px;
    color: #A9A9A9;
    cursor: text;
    transition: 0.2s;
}

input {
    background: linear-gradient(to bottom, transparent 92%, #FF6E40 8%) no-repeat -300px 0;
    background-size: 300px 100%;
    display: block;
    width: 250px;
    padding: 5px 0;
    margin-top: 16px;
    border: none;
    border-bottom: solid 1px #FF6E40;
    font-size: 15px;
    transition: all 0.3s;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #F9F9F9 inset;
}

input:focus, input:valid {
    background-position: 0 0;
    outline: none;
}

input:focus ~ label, input:valid ~ label {
    top: -12px;
    color: #FF6E40;
    font-weight: 700;
    font-size: 12px;
}

textarea, textarea:focus {
    background: #F9F9F9;
    width: 230px;
    height: 160px;
    padding: 9px;
    margin-top: 30px;
    border: 1px solid #FF6E40;
    outline: none;
    font-weight: 300;
    font-size: 15px;
    resize: none;
}

textarea:focus, textarea:valid, textarea:focus:focus, textarea:focus:valid {
    padding: 7px;
    border: 3px solid #FF6E40;
}

textarea:focus ~ label, textarea:valid ~ label, textarea:focus:focus ~ label, textarea:focus:valid ~ label {
    top: 12px;
    left: 0;
    color: #FF6E40;
    font-weight: 700;
    font-size: 12px;
}

textarea ~ label, textarea:focus ~ label {
    top: 35px;
    left: 7px;
}

button {
    display: block;
    width: 200px;
    height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 3px;
    color: white;
    background: linear-gradient(to right, #FF6E40, #FF5722);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

::selection {
    background: #FF6E40;
    color: white;
}