body {
    background-image: url("../image/bg.jpg");
    background-position: center center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
}

body#index {
    overflow-x: hidden;
    overflow-y: hidden;
}

/*--------------------------------------------*/
.side-bar {
    color: #FAFAFA;
    text-align: center;
    width: 34vw;
    height: 100vh;

    display: table-cell;
    vertical-align: middle;
}

#iframe_content {
    position: absolute;
    width: 65vw;
    height: 100vh;
    border: none;
}

.title{
    font-family: "Catamaran", sans-serif;
    font-size: 5rem;
    line-height: 0.5;
    font-weight: 600;
}

.sns_box {
    display: inline-block;
    text-align: center;
}

.sns_button {
    float: left;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 100%;
    -moz-transition: all 280ms ease;
    -o-transition: all 280ms ease;
    -webkit-transition: all 280ms ease;
    transition: all 280ms ease;
}

.sns_button a {
    display: table-cell;
    width: 44px;
    height: 44px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -moz-transition: all 280ms ease;
    -o-transition: all 280ms ease;
    -webkit-transition: all 280ms ease;
    transition: all 280ms ease;
}

.sns_button i {
    font-size: 20px;
    vertical-align: middle;
}

.sns_button:hover {
    box-shadow: inset 0 0 0 22px #fff;
}

.sns_button + .sns_button {
    margin: 0 0 0 12px;
}

.twitter:hover a {
    color: #1B95E0;
}

.youtube:hover a {
    color: #dd4b39;
}

.github:hover a {
    color: #000000;
}

.team:hover a {
    color: #616161;
}

/*--------------------------------------------*/
#posts {
    display: inline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    max-width: 70rem;
    animation-name: fadein;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

#iframe-posts {
    display: inline;
    background-color: #FAFAFA;
    border: none;
    width: 100%;
}

#navigation-bar {
    width: 100px;
    height: 70px;
    padding-top: 20px;
}

/*@TODO 問い合わせ・記事を共有ボタンの追加・*/

#back {
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
    padding-right: 5px;
    transition-duration: 0.5s;
}

.fa-angle-left {
    margin-right: 10px;
    font-size: 12px;
}

#back:hover {
    background-color: rgba(255, 255, 255, .15);
}

@keyframes fadein {
    from {
        opacity: 0.5;
        transform: translateX(-50%) translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

/*--------------------------------------------*/
@media screen and (max-width: 1000px) {
    .side-bar {
        width: 100vw;
        height: 40vh;
    }

    #iframe_content {
        position: static;
        width: 100vw;
    }

    #back {
        width: 80px;
    }
}