* {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    font-family: sans-serif;
}

body {
    background-color: #323232;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url("../image/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}

body#index {
    overflow-x: hidden;
}

:root {
    --vh: 0;
}

/*  トップ --------------------------------------------*/
#loader {
    display: none;
}

.side-bar {
    position: fixed;
    top: calc(var(--vh, 1vh) * 50);
    transform: translateY(-50%);
    color: #FAFAFA;
    text-align: center;
    width: 32vw;
}

#posts-grid {
    margin-left: 32vw;
    width: 68vw;
}

#posts-filter {
    display: inline-block;
    margin: 24px 32px 0;
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
}

#posts-filter i {
    color: #FBC02D;
    margin-right: 4px;
}

#form {
    display: none;
    position: fixed;
    z-index: 2;
    margin: 1em 0;
    width: 280px;
    font-size: 16px;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

#form:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
}

.form_show {
    display: inline;
}

.title {
    font-family: "Catamaran", sans-serif;
    font-size: 80px;
    font-weight: 600;
}

.sns_box {
    display: block;
    text-align: center;
}

.sns_button {
    float: left;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 100%;
    -moz-transition: all 280ms ease;
    -o-transition: all 280ms ease;
    -webkit-transition: all 280ms ease;
    transition: all 280ms ease;
}

.sns_button a {
    display: table-cell;
    width: 44px;
    height: 44px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -moz-transition: all 280ms ease;
    -o-transition: all 280ms ease;
    -webkit-transition: all 280ms ease;
    transition: all 280ms ease;
}

.sns_button i {
    font-size: 20px;
    vertical-align: middle;
}

.sns_button:hover {
    box-shadow: inset 0 0 0 22px #fff;
}

.sns_button + .sns_button {
    margin: 0 0 0 12px;
}

.github:hover a {
    color: #000000;
}

.qiita {
    position: relative;
}

#qiita-svg {
    width: 50%;
    height: 50%;
    fill: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.qiita:hover #qiita-svg {
    fill: #55C500;
}

.mail:hover a {
    color: #616161;
}

.speaker-deck:hover a {
    color: #038C7F;
}

/*  記事一覧 --------------------------------------------*/

.card-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 24px;
}

.card {
    position: relative;
    width: 28%;
    min-width: 10rem;
    margin: 1.2vw 1.6vw;
}

.card-contents:before {
    content: "";
    display: block;
    width: 28%;
    min-width: 10rem;
    margin: 0 1.6vw;
    height: 0;
    order: 1;
}

.card-contents:after {
    content: "";
    display: block;
    width: 28%;
    min-width: 10rem;
    margin: 0 1.6vw;
    height: 0;
}

.card-skin {
    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.15s;
}

.card-skin:active {
    transform: scale(0.98);
}

.card_imgframe {
    width: 100%;
    padding-top: 72%;
    background-size: cover;
    box-sizing: border-box;
}

.card_date {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 12px;
    z-index: 1;
    top: 4px;
    left: 2px;
    padding: 4px 12px;
    margin: -4px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 8px 0 8px 0;
}

.card_pick {
    position: absolute;
    color: #FBC02D;
    font-size: 16px;
    z-index: 1;
    top: 4px;
    right: 8px;
}

.card_textbox {
    font-family: 'Noto Sans JP', sans-serif;
    color: #424242;
    width: 100%;
    height: 100%;
    padding: 16px 20px;
    box-sizing: border-box;
    min-height: 160px;
    background: #ffffff;
}

.card_textbox > * + * {
    margin-top: 8px;
}

.card_titletext {
    font-size: 25px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ul.card_tag {
    margin: 0 0 12px;
    padding: 0;
    font-size: 0;
    list-style-type: none;
}

ul.card_tag li {
    display: inline-block;
    font-size: 11px;
    margin: 2px;
    padding: 2px 10px;
    border: 1px solid #616161;
    border-radius: 24px;
    color: #616161;
    text-decoration: none;
}

.card_overviewtext {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*  記事ページ --------------------------------------------*/
#posts-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    overflow-y: scroll;
}

#posts-wrapper::-webkit-scrollbar {
    display: none;
}

#posts {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    max-width: 64rem;
    margin-bottom: 2rem;
    z-index: 2;
}

#iframe-posts {
    display: inline;
    background-color: #FAFAFA;
    border: none;
    width: 100%;
    margin-bottom: 32px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

#navigation-bar {
    position: relative;
    width: 100%;
    height: 80px;
}

#back {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 96px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    color: #FAFAFA;
    border: solid 1px #FAFAFA;
    border-radius: 8px;
    padding-right: 5px;
    padding-top: 1px;
    transition-duration: 0.5s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.fa-angle-left {
    margin-right: 12px;
}

#back:hover {
    background-color: rgba(255, 255, 255, .15);
}

#share {
    display: inline-block;
    color: #323232;
    position: absolute;
    top: 51%;
    right: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 6px 11px 4px 8px;
    transition-duration: 0.1s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.fa-share-alt {
    font-size: 28px;
}

#share:active {
    background-color: rgba(0, 0, 0, .1);
}

#share_menu {
    display: none;
    position: absolute;
    top: 48px;
    right: 10px;
    padding: 5px 9px 2px 6px;
    list-style: none;
    width: 160px;
    background-color: #FAFAFA;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.menu_icon {
    float: left;
    font-size: 20px;
    width: 25%;
    margin-right: 12px;
    text-align: center;
}

li a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #424242;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    cursor: pointer;
    text-align: left;
}

li a:hover {
    background-color: rgba(0, 0, 0, .04);
}

/*--------------------------------------------*/
@media screen and (max-width: 1600px) {
    .card {
        width: 44%;
        margin: 1.6vw 2vw;
        min-width: initial;
    }

    .card-contents:before {
        content: none;
    }

    .card-contents:after {
        width: 44%;
        margin: 1.6vw 2vw;
        min-width: initial;
    }
}

@media screen and (max-width: 1400px) {
    .title {
        font-size: 64px;
    }
}

@media screen and (max-width: 1000px) {
    .side-bar {
        position: relative;
        top: 0;
        display: table-cell;
        vertical-align: middle;
        transform: none;
        width: 100vw;
        height: 320px;
    }

    .title {
        margin-top: 32px;
    }

    #posts-grid {
        position: static;
        width: 100vw;
        margin-left: 0;
    }

    #posts {
        width: 90vw;
    }
}

@media screen and (max-width: 650px) {
    body {
        text-align: center;
    }

    .card {
        text-align: left;
        width: 90%;
        margin: 0 0 16px;
    }

    .card-contents:after {
        content: none;
    }
}

@media screen and (max-width: 500px) {
    .side-bar {
        height: 240px;
    }

    .title {
        font-size: 48px;
    }

    #posts {
        width: 97vw;
    }

    .fa-share-alt {
        font-size: 24px;
    }

    #back {
        font-size: 13px;
        width: 72px;
        line-height: 36px;
    }
}