body::-webkit-scrollbar {
    display: none;
}

/*--------------------------------------------*/
.card {
    width: 21%;
    min-width: 10rem;
    height: auto;
    margin: 2vw 1vw 0 2vw;
    display: inline-block;
    background-color: white;
}

.card-skin {
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    transition: 0.3s;
}

.card-skin:hover {
    transform: scale(0.98);
}

.card_imgframe {
    width: 100%;
    height: auto;
    padding-top: 62%;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
}

.card_textbox {
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    height: auto;
    min-height: 110px;
    padding: 20px 18px;
    background: #ffffff;
    box-sizing: border-box;
}

.card_textbox > * + * {
    margin-top: 10px;
}

.card_titletext {
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card_overviewtext {
    font-size: 12px;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*--------------------------------------------*/
@media screen and (max-width: 1000px) {
    .card {
        width: 44%;
    }
}

@media screen and (max-width: 650px) {
    .card {
        text-align: left;
        width: 90%;
        margin: 0 1vw 4vw 2vw;
    }
}