html {
    font-size: 62.5%;
}

body {
    margin: 25px;
    font-size: 1.6rem;
    line-height: 2;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));
    line-height: 1.3;
}

h2 {
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
    line-height: 1.3;
}

img {
    display: block;
    width: 100%;
}

#overview {
    display: none;
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3.6rem;
    }

    h2 {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 640px) {
    body {
        line-height: 2;
        margin: 20px;
    }

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2rem;
    }
}