.posts {
    line-height: 2;
}

.posts h1 {
    font-size: 40px;
    line-height: 1.3;
    font-weight: bold;
    margin: 32px 0 16px;
}

.posts h2 {
    font-size: 28px;
    line-height: 1.3;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.1em;
    margin-top: 48px;
}

.posts h2.no-block {
    margin-top: 40px;
}

.posts h2:not([class]):before {
    font-family: serif;
    font-size: 24px;
    content: '■ ';
}

.posts img, video {
    display: block;
    width: 100%;
    padding-bottom: 16px;
}

.posts a {
    word-wrap: break-word;
}

.posts #overview, #position {
    display: none;
}

.posts ul#tag {
    margin: 0 0 24px;
    padding: 0;
    list-style-type: none;
}

.posts ul#tag li {
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    padding: 3px 12px;
    border: 1px solid #616161;
    border-radius: 24px;
    color: #616161;
    text-decoration: none;
}

.posts ul#tag li:hover {
    background-color: #F5F5F5;
    transition: .2s;
}

.posts table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.posts table th, table td {
    padding: 10px 0;
    text-align: center;
}

.posts table tr:nth-child(odd) {
    background-color: #eee
}

.posts .small {
    width: 400px;
}

.posts .medium {
    width: 500px;
}

.posts .large {
    width: 80%;
}

.posts .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.posts .row img {
    display: inline-block;
    width: 50%;
}

.posts .four {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.posts .four img {
    display: inline-block;
    width: 25%;
}

.posts .code {
    color: #FAFAFA;
    background-color: #212121;
    padding: 16px 40px;
    margin-bottom: 16px;
    overflow-x: auto;
}

.posts .code code {
    white-space: pre;
}

.posts .box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 2px #FF7043;
    border-radius: 8px;
}

.posts .box .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 8px;
    line-height: 1;
    font-size: 20px;
    background-color: #FAFAFA;
    color: #FF7043;
    font-weight: bold;
}

.posts .box p {
    margin: 0;
    padding: 8px;
}

.posts .youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin: 16px 0;
}

.posts .youtube iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.posts .youtube.small {
    width: 40%;
    padding-bottom: 22.5%;
}

.posts .youtube.medium {
    width: 60%;
    padding-bottom: 33.75%;
}

.posts .youtube.large {
    width: 80%;
    padding-bottom: 45%;
}

.posts .speaker-deck {
    width: 100%;
    max-width: 800px;
}

@media screen and (max-width: 1400px) {
    .posts h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 650px) {
    .posts h1 {
        font-size: 32px;
        margin: 24px 0 12px;
    }

    .posts h2 {
        font-size: 24px;
    }

    .posts h2:not([class]):before {
        font-size: 20px;
    }

    .posts ul#tag {
        margin: 0 0 16px;
    }

    .posts ul#tag li {
        font-size: 12px;
    }

    .posts .small {
        width: 100%;
    }

    .posts .medium {
        width: 100%;
    }

    .posts .large {
        width: 100%;
    }

    .posts .row img {
        float: initial;
        width: 100%;
    }

    .posts .four img {
        display: inline-block;
        width: 50%;
    }

    .posts .youtube.large {
        width: 100%;
        padding-bottom: 56.25%;
    }
}