body {
    margin: 30px;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 28px;
}

img {
    display: block;
    width: 100%;
}

#overview {
    display: none;
}

@media screen and (max-width: 450px) {
    body {
        margin: 20px;
    }

    h1 {
        font-size: 22px;
    }
}